* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #eeeeee;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid red;

  &__title {
    text-decoration: none;
    color: #000;
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    list-style: none;
  }

  &__list-item {
    color: #000;
    text-decoration: none;
    &:hover {
      color: magenta;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    list-style: none;
  }
  &__list-item {
    color: #000;
    text-decoration: none;

    &:hover {
      color: magenta;
    }
  }
}
